node_modules
**/node_modules
**/node_modules/**

coverage/
*.lcov

node_modules/
jspm_packages/

.npm

.eslintcache

.node_repl_history

*.tgz

.yarn-integrity

.env
.env.test
.env.local
.env.development.local
.env.test.local
.env.production.local

.vscode-test

dist/
build/